language: python
python:
  - "3.6.2"

install:
  - sudo apt-get install -y dpkg-dev build-essential python-dev libjpeg-dev libtiff5-dev libsdl1.2-dev libgstreamer-plugins-base0.10-dev libnotify-dev freeglut3 freeglut3-dev libsm-dev libgtk-3-dev libwebkitgtk-3.0-dev libgstreamer-plugins-base1.0-dev
  - wget "https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-14.04/wxPython-4.0.3-cp36-cp36m-linux_x86_64.whl"
  - pip install wxPython-4.0.3-cp36-cp36m-linux_x86_64.whl
  - pip install -r requirements.txt
  
script:
  - python -m unittest discover -s tests/ci_tests
